html {
    font-size: 10px;
}
body {
    font-family: 'Abril Fatface';
    color: #fff;
    background-color: #e5004f;
    &.mobile {
        #gnb.last {
            height: 100%;
        }
    }
}
a {
    text-decoration: none;
    color: inherit;
}
#header {
    position: fixed;
    width: 100%;
    font-size: 2.4rem;
    font-weight:700;
    #logo {
        position: absolute;
        top: 50px;
        left: 30px;
        a {
            display: block;
        }
    }
    .utilMenu {
        width: 40px;
        height: 40px;
        position: absolute;
        z-index: 5;
        right: 50px;
        top: 50px;
        cursor: pointer;
        display: block;
        span {
            width: 40px;
            height: 5px;
            background-color: #fff;
            display: block;
            position: absolute;
            &:nth-child(1){top: 10px;}
            &:nth-child(2){top: 20px;}
            &:nth-child(3){top: 30px;}
        }
    }
}
#gnb {
    position: fixed;
    width:350px;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 9;
    transition: 0.3s ease-in-out;
    right: 0;
    display: none;
    &.last {
        height: 60.8%;
    }
    .inner {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        .list {
            > li {
                text-align: center;
                margin: 40px 80px;
                position: relative;
                &:first-child {
                    opacity: 1;
                }
                &:hover {
                    .depth01 {
                        opacity: 0;
                    }
                    .depth02 {
                        opacity: 1;
                    }
                    
                }
                .depth01 {
                    font-size: 5rem;
                    transition: 0.25s ease-in-out;
                }
                .depth02 {
                    font-size: 2.4rem;
                    font-weight: 300;
                    opacity: 0;
                    transition: 0.3s ease-in-out;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    font-family: 'Roboto Slab';
                    line-height: 1.3;
                    a {
                        display: block;
                    }
                }
            }
        }
    }
    .btnClose {
        position: absolute;
        right: 50px;
        top: 50px;
        width: 40px;
        height: 40px;
        display: block;
        span {
            display: block;
            width: 40px;
            height: 5px;
            background-color: #fff;
            position: absolute;
            &:nth-child(1){transform: rotate(-45deg);}
            &:nth-child(2){transform: rotate(45deg);}
        }
    }
}
.bg {
    position: fixed;
    z-index: -1;
    img {
       display: inline-block;
    }
    &.bg1 {
        left: 0;
    }
    &.bg2 {
        right: 0;
    }
}
#footer {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000;
    font-size: 1.8rem;
    color: #d9d9d9;
    padding: 40px 0 40px 50px;
    h2 {
        width: 170px;
       float: left;
    }
    address {
        word-break: keep-all;
        p {
            display: inline-block;
            font-family: 'Noto Sans KR';
            font-size: 1.2rem;
            padding: 0 10px;
            &:first-child {
                font-size: 2rem;
            }
            span {
                font-size: 2rem;
                
                font-weight: 700;
            }
        }
    }
    .btnMore {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        padding: 41px 20px;
        background-color: #e5004f;
    }
}

.popupWrap {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0,0,0,0.8);
    #popup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 500px;
        height: 400px;
        background-color: #e5004f;
        border: 5px solid #fff;
        border-radius: 0 0 10px 0;
        display: none;
        .popupLogo {
            margin: 20px 0 0 20px;
            img {
                width: 150px;
            }
        }
        .info {
            padding: 20px;
            text-align: center;
            p {
                font-size: 2rem;
                font-weight: 700;
                text-align: center;
                word-break: keep-all;
                line-height: 1.5;
                margin-bottom: 15px;
            }
            a {
                font-size: 2rem;
                padding: 20px;
                border: 1px solid #fff;
                display: inline-block;
                transition: 0.2s ease;
                position: relative;
                img {
                    width: 100px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    opacity: 0;
                    transition: 0.2s ease;
                }
                &:hover {
                    background-color: #e5004f;
                    border: none;
                    span {
                        opacity: 0;
                    }
                    img {
                        opacity: 1;
                    }
                }
            }
        }
        .footer {
            position: absolute;
            right: 0;
            bottom: 0;
            button {
                display: inline-block;
                padding: 5px 20px;
                border: 1px solid #fff;
                background-color: #fff;
                color: #e5004f;
                font-weight: 700;
                cursor: pointer;
            }
        }
    }
}
